.engage__list {
  display: flex;
}

.engage__item {
  margin-right: $marginPrimary;

  &:nth-child(3n) {
    margin-right: 0px;
  }
}

.engage__title {
  margin-bottom: 50px;
  color: $colorPrimary-text;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
}

.engage__box {
  position: relative;
}

.engage__text {
  position: absolute;
  height: 70px;
  width: 370px;
  bottom: 0;

  padding-top: 27px;
  font-size: 14px;
  line-height: calc(16/14);
  text-align: center;
  background: $colorAbout-box;
  color: $colorPrimary-white;
}