
.header {
  display: flex;
  align-items: center;
}
.navigation__list {
  display: flex;
  position: relative;
  margin-left: 50px;
  &:hover,
  &:focus {
    color: $colorAccent;
  }
}

.navigation__item + .navigation__item {
  margin-left: 50px;
}

.navigation__menu {
  display: block;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  color: $colorPrimary-text;
  @include font(14, 500, 14, 0.02);
  transition: color $duration $timingFunction;
  &:hover,
  &:focus {
    color: $colorAccent;
  }
}

.navigation__menu--primary {
  color: $colorAccent;
  position: relative;
  .current::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background: $colorAccent;
    border-radius: 2px;
      &:hover::after {
      /* opacity: 1; */
      transform: scaleX(1);
    }
  }
}

.navigation__menu--current {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    width: 100%;
    background: $colorAccent;
    border-radius: 2px;
    transform: scaleX(0);
    transition: transform $duration $timingFunction;
  
  }
}

/*-------------------------auth-nav--------------------*/
.header__list {
  display: flex;
  margin-left: auto;
}

.header__list .header__item + .header__item {
  margin-left: 50px;
}

.header__list {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: $colorTitle-text;
  @include font(14, 500, 16, 0.02);
  fill: currentColor;
  transition: color $duration $timingFunction;
  &:hover,
  &:focus {
    color: $colorAccent;
  }
}

.header__list:hover,
.header__list:focus {
  color: $colorAccent;
}

.navigation__menu--current {
  color: $colorTitle-text;
}

/*-------------------------icon--------------------*/
.header__contact {
  @extend %flex-align;
  transition: color $duration $timingFunction;
}

.header__icon {
  margin-right: 10px;
  background-repeat: no-repeat;
  background-position: center;
  fill: currentColor;
  transition: box-shadow $duration $timingFunction;
}

.header__icon--envelope {
  margin-top: 2px;
  margin-bottom: 2px;
}
