.button-secondary {
  margin-bottom: 50px;
  border-radius: 4px;
}

.portfolio__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  transition: box-shadow $duration $timingFunction;
}

.portfolio__item {
  display: flex;
  margin-right: $marginPrimary;
  margin-bottom: $marginPrimary;
  &:nth-child(3n) {
    margin-right: 0px;
  }
  &:nth-last-child(-n + 3) {
    margin-bottom: 0px;
  }
}

.portfolio__name {
  margin-bottom: 4px;
  color: var(--primary-text-color);
  @include font(18, null, 0.06);
  line-height: calc(36 / 18);
}

.portfolio__text {
  @include font(16, null, null);
  line-height: calc(30/ 16);
}

.portfolio__content {
  padding-left: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-right: 1px solid $colorBorderPortfolio;
  border-left: 1px solid $colorBorderPortfolio;
  border-bottom: 1px solid $colorBorderPortfolio;
}

.portfolio__link:hover,
.portfolio__link:focus {
  box-shadow: $shadowButtonSet;
}

/*--------------------overflow-portfolio---------------------*/

.portfolio__box {
  position: relative;
  overflow: hidden;
}

// .item-img-portfolio {
//   display: block;
//   width: 370px;
//   height: 294px;

// }

.portfolio__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 63px 24px;
  @include font(18, null, null);
  line-height: calc(28 / 18);
  color: $colorPrimary-white;
  background: $colorAccentOpacity;

  transform: translateY(100%);
  transition: transform $duration $timingFunction;
}

.portfolio__item:hover .portfolio__overlay,
.portfolio__item:focus .portfolio__overlay {
  transform: translateY(0%);
}
